.size{
    width:100px;
    height:100px;
}

#blue{
    background-color: blue;
}

#red{
    background-color: red;
}

.positioning{
    background-color: lightgrey;
}

#wrapper :nth-child(2){
    background-color: hotpink;
    border: 3px dashed darkblue;
    position: relative;
}

#white div{
    background-color: orchid;
    height: 100px;
    width: 100px;
    position: absolute;
    top: 25px;
    left: 30px;
}

#searchIcon img{
    width: 15px;
    top:2px;
    left: 2px;
}

#searchIcon img, #searchIcon input {
    position: absolute;
}

#searchIcon{
    position:relative;
}

#parent div{
    background-color: rgb(188, 79, 252);
    border: 1px solid black;
}

#parent{
    display: flex;
}

#parent :nth-child(2){
    margin: 0 auto;
}