.size{
    width:100px;
    height:100px;
}

#blue{
    background-color: blue;
}

#red{
    background-color: red;
}

.positioning{
    background-color: lightgrey;
}

#wrapper :nth-child(2){
    background-color: hotpink;
    border: 3px dashed darkblue;
    position: relative;
}

#white div{
    background-color: orchid;
    height: 100px;
    width: 100px;
    position: absolute;
    top: 25px;
    left: 30px;
}